{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet" href="css/gridrotator.css">
  <link rel="stylesheet" href="css/gallery.css">
  <script type="text/javascript" src="js/modernizr.custom.js"></script>
  <script type="text/javascript" src='js/jquery.gridrotator.js'></script>
  <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
  <script type="text/javascript" src='js/gallery.js'></script>
{% endblock %}

{% block content %}
  <div id="header">
  </div>

  <div id="page" class="padToCenter">
    <div class="gridContainer">
      <div id="ri-grid" class="ri-grid ri-grid-size-2">
        <ul>
          {% for stockpic in stockpics %}
            <li><a href="#"><img src="{{stockpic}}"/></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div id="footer" class="padToCenter">
    <div class="left">
      <div class="title">QTech<span class="bold white">X</span></div>
      <div>20 YEARS OF SHARING INNOVATION</div>
    </div>
    <div class="right white medium-text">
      <span class="right bold">Learning</span><br>
      Qualcomm <span class="bold">Center</span>
    </div>
  </div>
{% endblock %}
