{% extends 'base.html' %}
{% block content %}

<form action='/upload' method='post' enctype='multipart/form-data'>
  Select Image <input type='file' name='file' id='uploadImage' accept='image/*' capture='camera'><br>
 <input type='submit' value='submit'>
</form>

<li style="width: 1300px; height:1300px">
<a href="#" style="cursor: default; width: 312px; height: 312px; transform: rotate3d(1, 1, 0, 0deg); transition: all 400ms linear 400ms; -webkit-transition: all 400ms linear 400ms; background-image: url(http://qtech.qualcomm.com/sites/qtech.qualcomm.com/files/styles/front_page_back/public/theme_images/front_background/2011_9.jpg?itok=J852eGW3);"></a>
</li>

{% endblock %}
