body {
  margin: 0px;
}

div {
  text-align:center;
}

.ri-grid ul li a{
  background-position:center;
  background-size:cover;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#header {
  height:0%;
  background: url('QTX_photos_monitor_frame_grey.png');
}

#page {
  height: 93%;
  background: url('QTX_photos_monitor_frame_grey.png');
}

#footer {
  height:7%;
  background: url('QTX_photos_monitor_frame_orange.png');
}

.gridContainer {
  padding: 5px;
  background-color:black;
  height: 100%;
}

.ri-grid {
  margin: 0px;
  height: 100%;
}

.padToCenter {
  padding: 1.5%;
}

.title {
  font-size: 80px;
}

.medium-text {
  font-size: 20px;
  top: 30%;
  position: relative;
}

.bold {
  font-weight: bold;
}

.left {
  float: left;
}

.right {
  float: right;
}

.white {
  color: white;
}
